.logo
{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

div.centre
{
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    height: 50% !important;
    transform: translate(-50%, -115%) !important;    
    display: block !important;    
}

.vertical-aling-button
{
	margin-top: 18px;
}