<div class="row">
    <div class="col s12">
        <ul tabs reload="allTabContentLoaded">
            <li class="tab col s3"><a class="active" href="#allTab">Todos</a></li>
            <li class="tab col s3"><a href="#pendingTab">Pendientes</a></li>
            <li class="tab col s3"><a href="#rejectedTab">Rechazados</a></li>
            <li class="tab col s3"><a href="#deliveredTab">Entregados</a></li>
        </ul>
    </div>
    <div id="allTab" class="col s12">
		<events-directive events="all"></events-directive>
    </div>
    <div id="pendingTab" class="col s12">
		<events-directive events="pending"></events-directive>
    </div>
    <div id="rejectedTab" class="col s12">
		<events-directive events="rejected"></events-directive>
    </div>
    <div id="deliveredTab" class="col s12">
		<events-directive events="delivered"></events-directive>
    </div>
</div>

<div class="fixed-action-btn click-to-toggle">
  <a class="btn-floating btn-large red">
    <i class="material-icons">add</i>
  </a>
  <ul>
    <li><a tooltipped data-position="left" data-delay="50" data-tooltip="Nuevo Evento" class="btn-floating red" ><i class="material-icons">add_alert</i></a></li>
    <li><a tooltipped data-position="left" data-delay="50" data-tooltip="Nuevo Pedido" class="btn-floating red" ><i class="material-icons">note_add</i></a></li>    
  </ul>
</div>