<div class="container">
	

<div class="input-field">
	<i class="material-icons prefix">search</i>
	<input id="search" type="text" ng-model="keyword">
	<label for="search">Buscar</label>
</div>

<div class="">
	<ul class="collapsible popout" data-collapsible="accordion" watch>
	    <li ng-repeat="event in events | filter: keyword">
	        <div class="collapsible-header">
	        	<div class="row">
	        		<div class="col s6"><p class="left-align">{{event.name}}</p></div>
	        		<div class="col s6"><p class="right-align">{{event.date}}</p></div>
	        	</div>
        	</div>
	        <div class="collapsible-body">
	        	<div ng-repeat="order in event.orders | filter: keyword">	        		
	        		<div class="container">
	        			<p><b> {{order.name + ' '}} </b> ordenada el día <b>{{' ' + order.date + '. '}}</b> Estado: <b ng-style="setStyle(order.status)">{{order.status}}</b></p>	        			
	        			<table class="responsive-table">
					        <thead>
					          <tr>
					              <th data-field="id">Id</th>
					              <th data-field="name">Nombre</th>
					              <th data-field="quantity">Cantidad</th>
					              <th data-field="type">tipo</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="item in order.items">
					            <td>{{item.id}}</td>
					            <td>{{item.name}}</td>
					            <td>{{item.quantity}}</td>
					            <td>{{item.type}}</td>
					          </tr>					          
					        </tbody>
				      	</table>
	        		</div>	        		
	        	</div>
	        </div>
	    </li>
	</ul>
</div>
</div>
