<div class="container">
	

<div class="input-field">
	<i class="material-icons prefix">search</i>
	<input id="search" type="text" ng-model="keyword">
	<label for="search">Buscar</label>
</div>
<div class="">
	<ul class="collapsible popout" data-collapsible="accordion" watch>
	    <li ng-repeat="event in events | filter: keyword">	    	    		    	
	        <div class="collapsible-header" ng-attr-id="{{ 'collapsible-header-' + $index }}">	        	
	        	<div class="row">
	        		<div class="col s6"><p class="left-align">{{event.name + " - " + event.date}}</p></div>
	        		<div class="col s6">       
	        			<div class="right-align vertical-aling-button">
	        				<button class="btn waves-effect waves-light orange darken-3" ng-click="editEvent(event,$index)">
							    <i class="material-icons left icon">mode_edit</i>
							</button>	        				
							<button ng-hide="true" class="btn waves-effect waves-light red darken-4" >
							    <i class="material-icons left icon">delete</i>
							</button>
							<button ng-hide="true" class="btn waves-effect waves-light green" >
							    <i class="material-icons left icon">add</i>
							</button>
	        			</div>									
	        		</div>
	        	</div>
        	</div>
	        <div class="collapsible-body">
	        	<div ng-repeat="order in event.orders | filter: keyword">	        		
	        		<div class="container">	        		
	        			<div class="row">	        				
	        				<div class="col 12">
	        					<p><b> {{order.name + ' '}} </b> ordenada el día <b>{{' ' + order.date + '. '}}</b> Estado: <b ng-style="setStyle(order.status)">{{order.status}}</b></p>			
	        				</div>
        				</div>
        				<div class="row" ng-show="order.status === 'aprobado'">
        					<button style="display: block; width: 100%;" class="btn waves-effect waves-light blue darken-3 button-collapsable left" ng-click="deliverOrder(order, event)">
        						Enregar
						    	<i class="material-icons right">done_all</i>
							</button>
        				</div>
        				<div class="row" ng-show="order.status === 'pendiente'">
        					<div class="col s4">
	        					<button style="display: block; width: 100%;" class="btn waves-effect waves-light green darken-3 button-collapsable left" ng-click="approveOrder(order, event)">
	        						Aprobar
							    	<i class="material-icons right">done</i>
								</button>
							</div>
							<div class="col s4">
								<button style="display: block; width: 100%;" class="btn waves-effect waves-light orange darken-3 button-collapsable left" ng-click="editOrder(order, event)">
	        						Editar
							    	<i class="material-icons right">mode_edit</i>
								</button>
							</div>
							<div class="col s4">
								<button style="display: block; width: 100%;" class="btn waves-effect waves-light red darken-4 button-collapsable left" ng-click="rejectedOrder(order, event)">
	        						Rechazar
							    	<i class="material-icons right">clear</i>
								</button>
							</div>
        				</div>	        				        						        			        			

	        			<table class="responsive-table">
					        <thead>
					          <tr>
					              <th data-field="id">Id</th>
					              <th data-field="name">Nombre</th>
					              <th data-field="quantity">Cantidad</th>
					              <th data-field="type">tipo</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="item in order.items">
					            <td>{{item.id}}</td>
					            <td>{{item.name}}</td>
					            <td>{{item.quantityByOrder}}</td>
					            <td>{{item.type}}</td>
					          </tr>					          
					        </tbody>
				      	</table>
	        		</div>	        		
	        	</div>
	        	</br>
	        </div>
	    </li>	    
	</ul>
</div>
</div>

