<nav ng-show="isActive('/login')">
	<div class="nav-wrapper">
	  	<!--<a href="#!" class="brand-logo">Logo</a>	  -->
	  	<a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="false">
			<i class="material-icons">menu</i>
		</a>
	  	<ul class="right hide-on-med-and-down" >
			<li><a href="#/inventario">Inventario</a></li>    		
			<li><a href="#/dashboard">Pedidos</a></li>    
	    	<li><a ng-click="logout()">Cerrar Sesión</a></li>
	  	</ul>
	  	<ul class="side-nav" id="nav-mobile" >    		  	
	    	<li><a href="#/inventario">Inventario</a></li>			
			<li><a href="#/dashboard">Pedidos</a></li>    
	    	<li><a ng-click="logout()">Cerrar Sesión</a></li>
	  	</ul>
	</div>
</nav>