<nav>
	<div class="nav-wrapper">
	  	<a href="#!" class="brand-logo">Logo</a>	  
	  	<a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="false">
			<i class="material-icons">menu</i>
		</a>
	  	<ul class="right hide-on-med-and-down" >
		    <li><a href="sass.html">Sass</a></li>
	    	<li><a href="badges.html">Components</a></li>
	    	<li><a href="collapsible.html">Javascript</a></li>
	    	<li><a href="mobile.html">Mobile</a></li>
	  	</ul>
	  	<ul class="side-nav" id="nav-mobile" >
	    	<li><a href="sass.html">Sass</a></li>
	    	<li><a href="badges.html">Components</a></li>
	    	<li><a href="collapsible.html">Javascript</a></li>
	    	<li><a href="mobile.html">Mobile</a></li>
	  	</ul>
	</div>
</nav>